absl-py==0.11.0
alabaster==0.7.12
anytree==2.8.0
appdirs==1.4.4
apsw==3.33.0.post1
argon2-cffi==20.1.0
asn1crypto==1.4.0
astroid==2.4.2
attrs==20.3.0
aurman==2.20.1
awscli==1.18.173
Babel==2.8.1
backcall==0.2.0
Beaker==1.11.0
beautifulsoup4==4.9.3
boto3==1.16.20
botocore==1.19.20
breezy==3.1.0
Brlapi==0.8.0
btrfsutil==5.9
CacheControl==0.12.6
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
colorama==0.4.4
configobj==5.0.6
construct==2.10.56
contextlib2==0.6.0.post1
cryptography==3.2.1
css-parser==1.0.6
cssselect==1.1.0
cycler==0.10.0
decorator==4.4.2
distlib==0.3.1
distro==1.5.0
dnspython==1.16.0
docutils==0.16
dulwich==0.20.11
fastimport==0.9.8
feedparser==5.2.1
furl==2.1.0
future==0.18.2
greenlet==0.4.17
hsfs==2.0.4
html2text==2020.1.16
html5-parser==0.4.9
html5lib==1.1
idna==2.10
ifaddr==0.1.7
imagesize==1.2.0
importlib-metadata==2.0.0
iotop==0.6
ipython==7.19.0
ipython-genutils==0.1.0
isc==2.0
isort==5.6.4
javaobj-py3==0.4.1
jedi==0.17.2
Jinja2==2.11.2
jmespath==0.10.0
kiwisolver==1.3.1
lazy-object-proxy==1.5.1
lensfun==0.3.95
lockfile==0.12.2
louis==3.15.0
lxml==4.6.1
Mako==1.1.3
mallard-ducktype==1.0.2
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.3.3
mccabe==0.6.1
mechanize==0.4.5
mercurial==5.6
meson==0.56.0
mock==4.0.2
more-itertools==8.6.0
msgpack==1.0.0
netifaces==0.10.9
numpy==1.19.4
ordered-set==4.0.2
orderedmultidict==1.0.1
packaging==20.4
pandas==1.1.4
parso==0.7.1
patiencediff==0.2.1
pep517==0.9.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
ply==3.11
progress==1.5
prompt-toolkit==3.0.8
psutil==5.7.3
ptyprocess==0.6.0
pwquality==1.4.4
pyalpm==0.9.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.6.0
pycairo==1.20.0
pychm==0.8.6
pycodestyle==2.6.0
pycparser==2.20
pycryptodome==3.9.9
pycryptodomex==3.9.7
pyflakes==2.2.0
Pygments==2.7.2
PyGObject==3.38.0
PyHopsHive==0.6.4.dev0
pyhumps==1.6.1
pyjks==20.0.0
pykeepass==3.2.1
pylint==2.6.0
PyMySQL==0.10.1
pynvim==0.4.2
pyOpenSSL==19.1.0
pyparsing==2.4.7
PyQt5==5.15.1
PyQt5-sip==12.8.1
PyQtWebEngine==5.15.1
python-dateutil==2.8.1
python-xlib==0.28
pytoml==0.1.21
pytz==2020.4
pyxdg==0.26
PyYAML==5.3.1
Reflector==2020.9.2.20.13.49
regex==2020.11.13
requests==2.24.0
resolvelib==0.5.1
retrying==1.3.3
rsa==4.6
s-tui==1.0.2
s3transfer==0.3.3
scons==3.1.2
simplejson==3.17.2
sip==4.19.24
six==1.15.0
snowballstemmer==2.0.0
soupsieve==2.0.1
Sphinx==3.2.1
sphinx-rtd-theme==0.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport==1.1.2
SQLAlchemy==1.3.20
team==1.0
thrift==0.13.0
toml==0.10.2
traitlets==4.3.3
twofish==0.3.0
typed-ast==1.4.1
unrardll==0.1.4
urllib3==1.25.10
urwid==2.1.1
virtualenv==16.7.8
wcwidth==0.2.5
webencodings==0.5.1
Whoosh==2.7.4
wrapt==1.12.1
youtube-dl==2020.11.18
zeroconf==0.28.6
zipp==3.4.0
